@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<br />
<hr />

@using (Html.BeginForm("SumNum", "Home", FormMethod.Post))
{
    <div row>
        <div class="col-md mx-auto">

            <div class="card-header text-center">
                SUMATORIA DE NÚMEROS
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md">

                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="firstNumber">Digite número</label>
                                        <input type="text" class="form-control" id="firstNumber" name="firstNumber" placeholder="Digite un numero" maxlength="10" />
                                    </div>
                                    
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="secondNumber">Digite número</label>
                                        <input type="text" class="form-control" id="secondNumber" name="secondNumber" placeholder="Digite un numero" maxlength="10" />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <br />
            <div class="row">
                <div class="col text-center">
                    <input class="btn btn-primary" type="submit" value="Enviar" />
                </div>

            </div>

        </div>
    </div>
}   